/*  Fichier CSS permettant l'intégration de polices externes
    Ici: Polices de Google Font API hébergées par le site (localement) */

/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    /* Définir les polices d'écriture */

    font-style: normal;
    /* La propriété font-style permet de sélectionner une font italic ou oblique (ou normal) */

    font-weight: 400;
    /* Définir la graisse utilisée pour le texte */


    src: url('../fonts/poppins-v13-latin/poppins-v13-latin-regular.eot');
    /* définir la ressource qui contient les données relatives à une police de caractères */

    /* IE9 Compat Modes */
    src: local('Poppins Regular'), local('Poppins-Regular'),
        url('../fonts/poppins-v13-latin/poppins-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v13-latin/poppins-v13-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v13-latin/poppins-v13-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v13-latin/poppins-v13-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v13-latin/poppins-v13-latin-regular.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-600 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v13-latin/poppins-v13-latin-600.eot');
    /* IE9 Compat Modes */
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
        url('../fonts/poppins-v13-latin/poppins-v13-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v13-latin/poppins-v13-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v13-latin/poppins-v13-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v13-latin/poppins-v13-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v13-latin/poppins-v13-latin-600.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* ubuntu-500 - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/ubuntu-v15-latin/ubuntu-v15-latin-500.eot');
    /* IE9 Compat Modes */
    src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
        url('../fonts/ubuntu-v15-latin/ubuntu-v15-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/ubuntu-v15-latin/ubuntu-v15-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/ubuntu-v15-latin/ubuntu-v15-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/ubuntu-v15-latin/ubuntu-v15-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/ubuntu-v15-latin/ubuntu-v15-latin-500.svg#Ubuntu') format('svg');
    /* Legacy iOS */
}

/* secular-one-regular - latin */
@font-face {
    font-family: 'Secular One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/secular-one-v5-latin/secular-one-v5-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Secular One'), local('SecularOne-Regular'),
        url('../fonts/secular-one-v5-latin/secular-one-v5-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/secular-one-v5-latin/secular-one-v5-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/secular-one-v5-latin/secular-one-v5-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/secular-one-v5-latin/secular-one-v5-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/secular-one-v5-latin/secular-one-v5-latin-regular.svg#SecularOne') format('svg');
    /* Legacy iOS */
}