/* ---------------Code du footer------------------ */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 100%;
  padding-top: 1.5%;
  padding-bottom: 0%;
  background-color: #283747;
  border-radius: 10px 10px 0px 0px;
  margin-top: -10%;
}

.footer-link a {
  color: white;
  font-size: 100%;
}

.footer-logo_mention {
  width: 25%;
  height: 10%;
  padding-top: 5%;
}

.footer-logo_title {
  width: 6%;
  height: 1%;
  padding-top: 2%;
}

.footer-column_triple {
  float: left;
  width: 33.33%;
}

.footer-row:after {
  content: "";
  display: table;
  clear: both;
}
/*-------------------------------------------------------*/

/*  Code adapter pour le format tablette et téléphone  */
@media screen and (max-width: 770px) {
  .footer {
    border-radius: 0px;
  }

  .footer p {
    font-size: 80%;
  }

  .footer-logo_title {
    padding-top: 5%;
  }

  .footer-column_triple {
    width: 100%;
  }
}
/*--------------------------------------------*/