/*Positionnement de section*/
.section-main {
    padding-bottom: 10%;
}

section {
    padding-bottom: 20%;
}
/*--------------*/
.background {
    background-color: white;
}

/*Couleur Arrière plan de l'accueil*/
.background-tricolor {
    background-image: linear-gradient(30deg, #f5fdff 8.33%, #ffffff 8.33%, #ffffff 16.67%, #f5feff 16.67%, #f5feff 25%, #fffafa 25%, #fffafa 33.33%, #fff 33.33%, #fff 41.67%, #fffff0 41.67%, #fffff0 50%, #f5fdff 50%, #f5fdff 58.33%, #ffffff 58.33%, #ffffff 66.67%, #f5feff 66.67%, #f5feff 75%, #fffafa 75%, #fffafa 83.33%, #fff 83.33%, #fff 91.67%, #fffff0 91.67%, #fffff0 100%);
    background-size: 240.00px 138.56px;
}
/*---------*/