@import "fonts.css";

.nav {
    padding: 1.5% 5%;
    /*Marge de 1.5% en haut et de 5% a droite pour les rubriques  */
    max-width: 90%;
    /* Largeur max de 90% pour le menu de navigation */
}

.nav-logo {
    width: 50px;
    /* Largeur du logo */
    height: 50px;
    /* Longueur du logo */
}

.nav-elements a {
    color: #283747;
    /* Couleur texte des rubriques du menu de navigation */
    text-decoration: none;
    /* Ne pas décorer le texte */
    font-size: 17px;
    /* Taille du texte */

    padding: 12px;
    /* Marge entre les rubriques du menu de navigation */
    float: left;
    /* Element flottant à gauche */
    border-radius: 10px;
    /* Coin arrondi de 10px */
}

.nav a.nav-title {
    font-size: 25px;
    /* Taille du titre light-fidelity */
    color: #283747;
    /* Couleur du titre */
    font-family: 'Ubuntu', sans-serif;
    /* Police d'écriture du titre */
    text-decoration: none;

    float: left;
    padding: 12px;
    /* marge de 12px  */
}

.nav-elements a:hover {
    background-color: #1C8DFF;
    /* Couleur de fond des rubriques lorsque que l'onglet est survolé par la souris */
    color: white;
    /* Couleur du texte des rubriques lorsque que l'onglet est survolé par la souris */
}

.nav-elements a.nav-active {
    background-color: #283747;
    /* Couleur de fond de l'onglet Découvrir lorsque qu'elle est survolé par la souris */
    color: white;
    /* Couleur du texte de l'onglet Découvrir lorsque qu'elle est survolé par la souris */
}

.nav-right {
    float: right;
    /* Element flottant à droite */
}



@media screen and (max-width: 770px) {    /* Tailles tablettes, téléphones */
    .nav {
        padding: 7% 5%;
    }

    .nav-logo {
        position: relative;
        float: right;

        padding-top: 1.75%;    
    }

    .nav-elements a {
        font-size: 90%;

        float: none;
        display: block;
        padding: 5% 5%;
    }

    .nav a.nav-title {
        font-size: 160%;

        float: none;
        padding: 12px;
        display: block;
        padding: 5% 1.2%;
    }

    .nav-right {
        float: none;
    }
}