.home-title_first {
  padding-top: 10%;
  /* Ajuste la hauteur de la boîte de remplissage */

  text-align: center;
  /* Aligner le texte au center */

  font-size: 220%;
  /* Définit la taille de fonte utilisée pour le texte */

  color: #283747;
  /* Définir une couleur */
}

.home-title_second {
  padding-bottom: 30%;
  text-align: center;
  font-size: 120%;
  color: #283747;
}



.home-container {
  padding: 5%;
  /* Propriété raccourcie qui permet de définir les différents écarts de remplissage sur les quatre côtés d'un élément */
}


.section h1 {
  text-align: left;
}

.section h2 {
  text-align: left;
}

.section p {
  text-align: left;
  text-justify: inter-word;
  /* Définit le type de justification à appliquer au texte justifié */

  letter-spacing: 0.65px;
  /* Contrôle l'espacement entre les caractères du texte */
}




.section_one {
  background-color: #283747;
  color: white;
  margin-bottom: -5%;
  /* Définit la marge basse appliquée à un élément */

  padding-bottom: 10%;
  /* Ajuste la hauteur de la boîte de remplissage */
}

.section_one a {
  color: white;
}




.section_two {
  color: #283747;
  background-color: white;
  /* Définit une couleur de fond pour la page d'application à afficher avant le chargement de la feuille de style */
}

.section_two a {
  color: #283747;
}

.section_two .text-source {
  text-align: center;
}

.section_two .image {
  display: block;
  /* Permet de contrôler le rendu des éléments graphiques ou des conteneurs */

  margin-left: auto;
  margin-right: auto;

  width: 50%;
  height: auto;

  border: 3px solid;
  border-radius: 5px;
}



@media screen and (max-width: 770px) {
  /* Tailles tablettes, téléphones */

  .home-title_first {
    font-size: 120%;
    margin: auto;
    max-width: 90%;
  }

  .home-title_second {
    padding-bottom: 80%;
    font-size: 80%;
    margin: auto;
    max-width: 90%;
    padding-top: 8%;
  }



  .section h1 {
    text-align: left;
    padding-bottom: 3%;
  }

  .section p {
    text-align: left;
  }


  .section_two {
    padding-bottom: 20%;
    padding-top: 10%;
  }
}