@import "fonts.css";

.shop {
  box-sizing: border-box;
  /* prend en compte la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  border-radius: 5px
  /* Coin des bords arrondis */;    
}

.shop-thumbnail {
  border-radius: 5px 5px 0px 0px;
  /* 2 Coins en haut de l'image dans la box arrondis */ 
  width: 70%;
  padding-left: 25%;
  padding-top: 5%;
   /* Proportionner et centrer l'image */
}

.shop-logo {
  height: 14px;
  /* Longueur du logo de 14px */    
  width: 14px;
  /* Largeur du logo de 14px */     
}

.shop-triple_column {
  float: left;
  /* Element flottant à gauche */
  width: 33.3%;
  /* Taille réduite de 1/3 */  
  margin-bottom: 16px;
  /* Marge en bas */
  padding: 5%;

}

.item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* Ombre boite */
}

.shop-button {
  border: none;
  /* Pas de bordure au bouton */
  outline: 0;
  display: inline-block;
  /* Permet de contrôler le rendu des éléments graphiques ou des conteneurs */
  padding: 8px;
  text-align: center;
  /* Aligne le texte au centre */
  cursor: pointer;
  /* Définit le pointeur utilisé quand on passe la souris sur le bouton */

  color: white;
  /* Couleur texte blanc */
  background-color: #000;
  /* Couleur fond noir */
  font-family: 'Secular One', sans-serif;
  /* Police d'écritue */
  width: 100%;
  /* Taille largeur */
}

.shop-button a {
  color: white;
}

.shop-container {
  padding: 0 16px;
}

.shop-container::after,
.row::after {
  content: "";
  clear: both;
  /* Indique de ne pas s'afficher à coté des objets flottants */
  display: table;
  /* Permet de contrôler le rendu des éléments graphiques ou des conteneurs */
}

.shop-button a {
  text-decoration: none;
  /* Ne pas décorer le texte */
}

.shop-button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {   /* Tailles tablettes, téléphones */
  .shop-triple_column {
    width: 100%;
    display: block;
    /* Permet de contrôler le rendu des éléments graphiques ou des conteneurs */
  }
}