@import "fonts.css";

body {
  font-family: 'Poppins', sans-serif;
  /* Définir les polices d'écriture */
  margin: auto;
  /* Définir la taille des marges sur les quatre côtés de l'élément */
  font-weight: 400;
  /* Définir la graisse utilisée pour le texte */
  font-display: swap;
  /* Afficher le texte directement */

}

h1 h2 {
  font-display: swap;
  font-weight: 600;
}

h2 {
  font-weight: normal;
  font-size: 200%;
  /* Taille police d'écriture */
  text-decoration: underline;
  /* Souligner le texte */
  padding-bottom: 1%;
  /* Marge vers le bas */
}

.textformat p {
  text-align: justify;
  /* Justifer le texte */
}

.tech-table {
  border: solid 1px #DDEEEE;
  /* Ajouter une bordure */
  border-collapse: collapse;
  /* Fusionner les bordures */
  border-spacing: 0;
  /* Espace entre les bordures */
  font-size: 100%;
  margin: auto;

}

.tech-table thead th {
  background-color: #2C3E50;
  /* Couleur fond cellule tableau */
  color: white;
  /* Couleur texte */
  border: solid #2C3E50;
  padding: 10px;
  text-align: left;
  /* Aligner le texte à gauche */
}

.tech-table tbody td {
  border: solid 1px #2C3E50;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
  /* Ombre sur le texte */
}

.image {
  display: block;
  /* Permet de contrôler le rendu des éléments graphiques ou des conteneurs */
  margin-left: auto;
  margin-right: auto;

  width: 70%;
  height: auto;

  border: 3px solid;
  border-radius: 5px;
  /* Arrondir les coins des bordures */
}

.text-source {
  font-size: 90%;
  font-style: italic;
  /* Mettre le texte en italic */
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.color-grey {
  color: grey;
}

.color-main {
  color: #2C3E50;
}


.text-source img {
  height: 10px;
  width: 10px;
}

.text-format {
  max-width: 87%;
  margin: auto;
  height: 75%;
  color: #283747;
}

.text-format h3 {
  padding-top: 2%;
}

a {
  color: inherit;
}


.video-container {
  float: none;
  clear: both;
  /* Indique de ne pas s'afficher à coté des objets flottants */
  width: 900px;
  position: relative;
  /* Définir la façon dont un élément est positionné dans un document */
  padding-bottom: 56.25%;
  margin: 0 auto;
  max-width: 100%;
}

.video-container iframe,
.video-container embed {
  position: absolute;
  /* Définir la façon dont un élément est positionné dans un document */
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  border: 0;
}

@media screen and (max-width: 770px) {

  h2 {
    font-size: 150%;
  }

  .text-format h3 {
    padding-top: 15%;
  }

  .image {
    border: 2px solid;
  }

  .video-container iframe,
  .video-container embed {
    height: 90%;
  }

  .tech-table {
    font-size: 70%;
  }
}